body {
    background-image:url("theflash.jpg");
    background-size: cover;
    font-family:"Trade Winds", serif;
    font-weight: bold;
    justify-content:  center;
    text-align: center;
    height: 100vh;
    
}
.container {
    background: rgba(12, 11, 11, 0.761);
    max-width: 40%;
    min-height: 70%;
    margin: auto;
    border: 3px solid transparent;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 69, 0, 0.8);
}


h1 {
    font-family: "Trade Winds", serif;
  font-weight: 400;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(247, 247, 247);
  color: goldenrod;
  font-style: normal;
  min-width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: "Trade Winds", serif;
    font-weight: 400;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-style: normal;
    color: goldenrod;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p{
  
    font-size: 20px;
    margin-top: 40 ;
    color: red;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(246, 241, 241);
    color-scheme: dark blue;
    margin-bottom: 20px;
    font-family: "Trade Winds", serif;
    font-weight: 25;
    font-style: normal;

}



button {
    font-family: "Trade Winds", serif;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 251, 251);
    font-weight: bold;
    max-width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px rgba(11, 10, 10, 0.568) solid ;
}

#increment-btn {
    background: rgba(27, 7, 245, 0.685);
}

#save-btn {
    background: rgba(14, 229, 14, 0.589);
}

